[project]
	description = Personal work-in-progress repository for git.eclipse.org/gitroot/platform/eclipse.platform.ui.git
[access "refs/*"]
	owner = group user/Matthew Hall (qualidafial)
[access "refs/for/refs/*"]
	read = group user/Matthew Hall (qualidafial)
	push = group user/Matthew Hall (qualidafial)
	label-Code-Review = -2..+2 group user/Matthew Hall (qualidafial)
	label-Verified = -1..+1 group user/Matthew Hall (qualidafial)
	rebase = group user/Matthew Hall (qualidafial)
	removeReviewer = group user/Matthew Hall (qualidafial)
	submit = group user/Matthew Hall (qualidafial)
[access "refs/heads/*"]
	read = group user/Matthew Hall (qualidafial)
	create = group user/Matthew Hall (qualidafial)
	push = +force group user/Matthew Hall (qualidafial)
	pushMerge = group user/Matthew Hall (qualidafial)
[access "refs/tags/*"]
	push = +force group user/Matthew Hall (qualidafial)
	pushTag = group user/Matthew Hall (qualidafial)
	pushSignedTag = group user/Matthew Hall (qualidafial)
